# Python Module requirements for generating articles.
#
# Author: Greg Albrecht <mailo:gba@gregalbrecht.com>
# Copyright: Copyright 2020 Greg Albrecht
# License: Creative Commons Attribution 3.0 Unported License.
# URL: http://ampledata.org/
#


Jinja2
Markdown
MarkupSafe
PyRSS2Gen
Pygments
jeb
