pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
div.codehilite .hll { background-color: #ffffcc }
div.codehilite { background: #f8f8f8; }
div.codehilite .c { color: #3D7B7B; font-style: italic } /* Comment */
div.codehilite .err { border: 1px solid #FF0000 } /* Error */
div.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
div.codehilite .o { color: #666666 } /* Operator */
div.codehilite .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
div.codehilite .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
div.codehilite .cp { color: #9C6500 } /* Comment.Preproc */
div.codehilite .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
div.codehilite .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
div.codehilite .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
div.codehilite .gd { color: #A00000 } /* Generic.Deleted */
div.codehilite .ge { font-style: italic } /* Generic.Emph */
div.codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
div.codehilite .gr { color: #E40000 } /* Generic.Error */
div.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.codehilite .gi { color: #008400 } /* Generic.Inserted */
div.codehilite .go { color: #717171 } /* Generic.Output */
div.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
div.codehilite .gs { font-weight: bold } /* Generic.Strong */
div.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.codehilite .gt { color: #0044DD } /* Generic.Traceback */
div.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
div.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
div.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
div.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
div.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
div.codehilite .kt { color: #B00040 } /* Keyword.Type */
div.codehilite .m { color: #666666 } /* Literal.Number */
div.codehilite .s { color: #BA2121 } /* Literal.String */
div.codehilite .na { color: #687822 } /* Name.Attribute */
div.codehilite .nb { color: #008000 } /* Name.Builtin */
div.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
div.codehilite .no { color: #880000 } /* Name.Constant */
div.codehilite .nd { color: #AA22FF } /* Name.Decorator */
div.codehilite .ni { color: #717171; font-weight: bold } /* Name.Entity */
div.codehilite .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
div.codehilite .nf { color: #0000FF } /* Name.Function */
div.codehilite .nl { color: #767600 } /* Name.Label */
div.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
div.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
div.codehilite .nv { color: #19177C } /* Name.Variable */
div.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
div.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
div.codehilite .mf { color: #666666 } /* Literal.Number.Float */
div.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
div.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
div.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
div.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
div.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
div.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
div.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
div.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
div.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
div.codehilite .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
div.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
div.codehilite .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
div.codehilite .sx { color: #008000 } /* Literal.String.Other */
div.codehilite .sr { color: #A45A77 } /* Literal.String.Regex */
div.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
div.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
div.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
div.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
div.codehilite .vc { color: #19177C } /* Name.Variable.Class */
div.codehilite .vg { color: #19177C } /* Name.Variable.Global */
div.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
div.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
div.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
