{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block brand_title %}{{ title }}{% endblock %}

{% block content %}
<!-- block templates/index.html content -->
    <div class="row">
        <div class="col-md-6">
            <h2>Articles</h2>
            <h3>General</h3>
            <ul>
                <li><a href="secure_baresip.html">Secure VoIP with Baresip</a></li>
                <li><a href="aprs_of_things.html">APRS Of Things</a></li>
                <li><a href="blue_angels_flyover_detection_using_sound.html">Blue Angels Flyover Detection Using Sound</a></li>
                <li><a href="drone_aprs.html">Drone APRS</a></li>
                <li><a href="enough_ruby_to_be_dangerous.html">Enough Ruby To Be Dangerous</a></li>
                <li><a href="force_a_remote_host_to_clear_its_arp_cache.html">Force A Remote Host To Clear Its ARP Cache</a></li>
                <li><a href="manually_detecting_maximum_transmission_unit.html">Manually Detecting Maximum Transmission Unit (MTU)</a></li>
                <li><a href="media_veganism.html">Media Veganism</a></li>
                <li><a href="python_version_testing_with_jenkins.html">Python Version Testing With Jenkins</a></li>
                <li><a href="remote_tnc_using_raspberry_pi.html">Remote TNC Using Raspberry Pi</a></li>
                <li><a href="san_francisco_pride_2013.html">San Francisco Pride 2013 Emergency Medical Response Statistics</a></li>
                <li><a href="san_francisco_public_safety_answering_point.html">San Francisco Public Safety Answering Point (PSAP)</a></li>
                <li><a href="so_you_want_to_be_a_superhero.html">So You Want To Be A Superhero?</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Projects</h2>

            <h3>Orion Labs</h3>
            <dl>
            <dt><a href="https://www.orionlabs.io">Orion Labs</a> (Python, Node.JS, Ruby, Go, et al)</dt>
                <dd>
                  I am Cofounder &amp; CTO of <a href="http://www.orionlabs.io">Orion Labs</a>, an advance communication
                    platform for mobile workers.
                </dd>
            </dl>


            <h3>San Francisco Wireless Emergency Mesh (SFWEM)</h3>
            <dl>

            </dl>

            <h3>Amateur Radio</h3>
            <dl>
                <dt><a href="https://github.com/ampledata/aprs">aprs</a> (Python)</dt>
                <dd>APRS Python Module, a pure-Python interface to APRS-IS and APRS-KISS.</dd>

                <dt><a href="https://github.com/ampledata/kiss">kiss</a> (Python)</dt>
                <dd>KISS Python Module, a pure-Python KISS interface library.</dd>
            </dl>

            <a href="https://github.com/ampledata">...more projects on GitHub.</a>

        </div>
    </div>
<!-- endblock templates/index.html content -->
{% endblock %}
