{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block brand_title %}{{ title }}{% endblock %}

{% block content %}
<!-- block content -->
<div class="row">
    <div class="col-md-6">
    <h2>Articles</h2>
    <h3>General</h3>
    <ul>
      {% for article in articles %}
            {% if not 'splunk' in article.name %}
      <li><a href="{{ article.html_file }}">{{ article.friendly_name|title }}</a></li>
            {% endif %}
      {% endfor %}
    </ul>

    <h3>Splunk Related</h3>
    <ul>
        {% for article in articles %}
        {% if 'splunk' in article.name %}
        <li><a href="{{ article.html_file }}">{{ article.friendly_name|title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
<!--
    <h2>Stories</h2>
    <ul>
      {% for story in stories %}
      <li><a href="{{ story.html_file }}">{{ story.friendly_name|title }}</a></li>
      {% endfor %}
    </ul>
-->
    </div>
    <div class="col-md-6">
    <h2>Projects</h2>
    <h3>Orion Labs</h3>
    <dl>
    <dt><a href="http://www.orionlabs.io">Orion Labs</a> (Python, Node.JS, Ruby, Go, et al)</dt>
    <dd>
      I am Cofounder &amp; CTO of <a href="http://www.orionlabs.io">Orion Labs</a> and
      we're making <strong>AWESOME</strong> communications wearables that will change the world.
      <a href="http://angel.co/onbeep/jobs">Join us, won't you?</a>
    </dd>
    </dl>

    <h3>Chef</h3>
    <dl>
        <dt><a href="https://github.com/onbeep-cookbooks/ssl-vault">ssl-vault Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook to manage SSL keys, certificates &amp; chains.</dd>

        <dt><a href="https://github.com/onbeep-cookbooks/graphite_reporting_handler">graphite_reporting_handler Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook to push Run Report metrics to Graphite.</dd>

        <dt><a href="https://github.com/onbeep-cookbooks/monkey">monkey Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook for monkey-patching Chef itself.</dd>

        <dt><a href="https://github.com/onbeep-cookbooks/sftp">sftp Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook for installing &amp configuring a chroot SFTP server.</dd>

        <dt><a href="https://github.com/onbeep-cookbooks/pygster">pygster Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook &amp; LWRP for installing and configuring Pygster, a pure-python Logster alternative.</dd>

        <dt><a href="https://github.com/onbeep-cookbooks/ngrok">ngrok Cookbook</a> (Ruby)</dt>
        <dd>Chef Cookbook for configuring &amp; installing an ngrok tunnel client.</dd>

    </dl>

    <h3>Metrics</h3>
    <dl>
        <dt><a href="https://github.com/OnBeep/pygster">Pygster</a> (Python)</dt>
        <dd>Stripped down pure-Python logster using pygtail, derived from ec_logster and logster.</dd>

        <dd><a href="https://github.com/OnBeep/pygster_parsers">Pygster Parsers</a> (Python)</dt>
        <dd>Additional Pygster parsers for various log formats.</dd>

        <dt><a href="https://github.com/OnBeep/hubot-hostedgraphite">Hubot HostedGraphite</a> (CoffeeScript)</dt>
        <dd>Hubot package for displaying Graphite graphs from HostedGraphite.com</dd>

        <dt><a href="https://github.com/ampledata/splunk_app_pagerduty">PagerDuty Alert for Splunk</a> (Python)</dt>
        <dd>Splunk App for triggering PagerDuty Incidents from Searches, Events and Alerts.</dd>

        <dt><a href="https://github.com/OnBeep/splunk_graphite">Graphite Output for Splunk App</a> (Python)</dt>
        <dd>Splunk App that enables Graphite Output for Searches, Events and Alerts.</dd>
    </dl>

    <h3>Amateur Radio</h3>
    <dl>
        <dt><a href="https://github.com/ampledata/aprs">aprs</a> (Python)</dt>
        <dd>APRS Python Module, a pure-Python interface to APRS-IS and APRS-KISS.</dd>

        <dt><a href="https://github.com/ampledata/kiss">kiss</a> (Python)</dt>
        <dd>KISS Python Module, a pure-Python KISS interface library.</dd>
    </dl>

    <h3>Other</h3>
    <dl>
        <dt><a href="https://github.com/ampledata/jeb">jeb</a> (Python)</dt>
        <dd>JEB: Just Enough Blog, the engine behind this site.</dd>

        <dt><a href="https://github.com/ampledata/pydstat">pydstat</a> (Python)</dt>
        <dd>Pythonic pidstat.</dd>

        <dt><a href="https://github.com/ampledata/pypirc">pypirc</a> (Python)</dt>
        <dd>.pypirc Management Client.</dd>

        <dt><a href="https://github.com/ampledata/pygitflow">pygitflow</a> (Python)</dt>
        <dd>Install Git Flow as a Python Distribution Package.</dd>

        <dt><a href="https://github.com/OnBeep/hubot-netatmo">Hubot Netatmo</a> (CoffeeScript)</dt>
        <dd>Hubot package for querying the Netatmo Urban Weather Station.</dd>

    </dl>
    <a href="https://github.com/ampledata">...more projects.</a>

    </div>
</div>
<!-- endblock content -->
{% endblock %}
