{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block brand_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <span class="span6">
    <h2>Articles</h2>
    <ul>
      {% for article in articles %}
      <li><a href="{{ article.html_file }}">{{ article.friendly_name|title }}</a></li>
      {% endfor %}
    </ul>
  </span>
  <span class="span6">
    <h2>Projects</h2>
    <dl>
      <dt><a href="https://www.splunkstorm.com">Splunk Storm</a>
      <dd>A cloud-based machine data analytics engine.</dd>
      <dt><a
        href="https://github.com/ampledata/cookbook-style-guide">cookbook-style-guide</a></dt>
      <dd>Style & Coding guidelines for Opscode Chef Cookbooks, Recipes &amp;
      Resources.</dd>
      <dt><a href="https://github.com/ampledata/chef_handler/tree/feature/COOK-1208_splunkstorm_handler">SplunkStormHandler</a></dt>
      <dd>Chef Exception &amp; Reporting Handler for Splunk Storm.</a></dd>
      <dt><a href="https://github.com/ampledata/splunkstorm-webhook">splunkstorm-webhook</a></dt>
      <dd>Webhook Interface for Splunk Storm.</a></dd>
      <dt><a href="https://github.com/ampledata/cookbook-lsyncd">cookbook-lsyncd</a></dt>
      <dd>lsyncd Cookbook for OpsCode Chef.</dd>
      <dt><a href="https://github.com/ampledata/splunk-input-ruby">splunk-input-ruby</a></dt>
      <dd>Library for getting data into Splunk using Ruby.</dd>
      <dt><a href="https://github.com/ampledata/pydstat">pydstat</a></dt>
      <dd>Pythonic pidstat.</dd>
      <dt><a href="https://github.com/ampledata/nosh">nosh</a></dt>
      <dd>Lightweight command-line utility for consuming data with Splunk.
      Includes Mac OS X Service (for Finder click &amp; index functionality).</dd>
    </dl>
  </span>
</div>
{% endblock %}
